*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;;
}

a{
    text-decoration: none;
    font-size: $fs-1;
    color: $color-blue;

    &:hover{
        color: darken($color-blue, 50%);
    }
}