.course{
    .course__left{
        background-color: $color-gray-1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h4{
            font-weight: $fw-bold-0;
            font-size: $fs-2;
        }
    }

    .course__right{
        #courseUdemy{
            @include course();
        }
    }
}